@model EmailCampaign.Domain.Entities.ViewModel.ContactVM

@{
    ViewData["Title"] = "Update Contact";
    Layout = "_Layout"; // render the page without layout
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">Update Contact</h3>
                            </div>

                            <form asp-action="Update" asp-controller="Contact" method="post">
                                @Html.HiddenFor(p => p.Id)
                                <div class="card-body">
                                    <div class="input-group mb-3">
                                        <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" required>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" required>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input asp-for="Email" type="email" class="form-control" placeholder="Email" required>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input asp-for="CompanyName" type="text" class="form-control" placeholder="CompanyName" required>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-briefcase"></span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="form-check">
                                            <input asp-for="IsActive" type="checkbox" class="form-check-input">
                                            <label class="form-check-label" asp-for="IsActive">IsActive</label>
                                        </div>
                                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.form-box -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>