@model EmailCampaign.Domain.Entities.ViewModel.UserRegisterVM

@{
    Layout = "_Layout"; // render the page without layout
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">

    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Add New User</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form asp-action="UpdateUser" asp-controller="User" method="post">
                                @Html.HiddenFor(p => p.Id)
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="firstname">First Name</label>
                                                <input asp-for="FirstName" type="text" class="form-control" id="firstname"
                                                       placeholder="Enter First Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="lastname">Last Name</label>
                                                <input asp-for="LastName" type="text" class="form-control" id="lastname"
                                                       placeholder="Enter Last Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input asp-for="Email" type="email" class="form-control" id="email"
                                                       placeholder="Enter Email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="birthdate">Birthdate</label>
                                                <input asp-for="Birthdate" type="datetime-local" class="form-control"
                                                       id="birthdate" placeholder="Select Birthdate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input asp-for="Password" type="password" class="form-control" id="password"
                                                       placeholder="Enter your Password">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="role">Select role</label>
                                                <select asp-for="RoleID" class="form-control">
                                                    <option value="">-- Select an option --</option>
                                                    @foreach (var role in (Dictionary<string,string>)ViewBag.Roles )
                                                    {
                                                        <option value="@role.Key">@role.Value</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-check">
                                                <input asp-for="IsActive" type="checkbox" class="form-check-input"
                                                       id="isactive">
                                                <label for="isactive" class="form-check-label">IsActive</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-check">
                                                <input asp-for="IsSuperAdmin" type="checkbox" class="form-check-input"
                                                       id="issuperadmin">
                                                <label for="issuperadmin" class="form-check-label">IsSuperAdmin</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->

                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
