@model EmailCampaign.Domain.Entities.ViewModel.RolePermissionVM

@{
    Layout = "_Layout"; // render the page without layout
}


<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Assign new RolePermission</h3>
                            </div>

                            <form asp-action="AddRolePermission" asp-controller="RolePermission" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group m-4">
                                            <label for="role">Select role</label>
                                            <select asp-for="RoleId" class="form-control">
                                                <option value="">-- Select an option --</option>
                                                @foreach (var role in (Dictionary<string, string>)ViewBag.Roles)
                                                {
                                                    <option value="@role.Key">@role.Value</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body px-0 pt-0 pb-2">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Index</th>
                                                    <th>Permission</th>
                                                    <th>IsView</th>
                                                    <th>IsAddEdit</th>
                                                    <th>IsDelete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.PermissionList.Count; i++)
                                                {
                                                    <tr>
                                                        <td>@(i + 1)</td>
                                                        <td>@ViewBag.Permission[Model.PermissionList[i].PermissionId.ToString().ToUpper()]</td>
                                                        <input type="hidden" asp-for="PermissionList[i].PermissionId" />
                                                        <td>
                                                            <div class="form-check">
                                                                <input asp-for="PermissionList[i].IsView" class="form-check-input" />
                                                                <label class="form-check-label" asp-for="PermissionList[i].IsView"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-check">
                                                                <input asp-for="PermissionList[i].IsAddEdit" class="form-check-input" />
                                                                <label class="form-check-label" asp-for="PermissionList[i].IsAddEdit"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-check">
                                                                <input asp-for="PermissionList[i].IsDelete" class="form-check-input" />
                                                                <label class="form-check-label" asp-for="PermissionList[i].IsDelete"></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.form-box -->
                    </div><!-- /.card -->
                </div>
            </div>
        </section>

    </div>

    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
