@model EmailCampaign.Domain.Entities.ViewModel.ForgotPasswordVM

@{
    ViewData["Title"] = "Forgot Password";
    Layout = null; // render the page without any layout
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/toaster.css" />

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <h4 class="card-title">Reset your password</h4>
            </div>
            <div class="card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                    <div class="form-group mb-3">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email" >
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <p class="mt-3 mb-1">
                    <a asp-action="Index" asp-controller="Account" >Login</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>


    @Html.Partial("_ValidationScriptsPartial")
    @Html.Partial("_PopUpScriptPartial")


</body>
</html>
