@model EmailCampaign.Domain.Entities.ViewModel.LoginVM

@{
    Layout = null; // render the page without any layout
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <p><b>GD</b> - Email campaign</p>
        </div>
        <!-- /.login-logo -->
        <div class="card card-secondary">
            <div class="card-header">
                <h4 class="card-title">Sign in to start your session</h4>
            </div>
            <div class="card-body login-card-body">


                <form asp-action="UserLogin" asp-controller="Account" method="post" data-validate="true">
                    <div class="form-group ">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input asp-for="RememberMe" type="checkbox" id="remember" class="form-check-input">
                                    <label for="remember" asp-for="RememberMe" class="form-check-label">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                </form>

                <p class="mb-1">
                    <a href="#">Forgot Password</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>

    @Html.Partial("_ValidationScriptsPartial")

</body>
</html>
